/* =========================
   STYLE GENERAL
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}


body{
    font-family:'Segoe UI', sans-serif;
    background:#ffffff;
    color:#222;
    transition:0.4s;
}


.section{
    padding:90px 0;
}



/* =========================
   NAVBAR
========================= */

.navbar{

    background:white;
    padding:15px 0;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);

}


.navbar-brand{

    font-size:25px;

}


.navbar-brand span{

    color:#007bff;

}


.nav-link{

    color:#222;
    margin:0 10px;
    font-weight:500;

}


.nav-link:hover{

    color:#007bff;

}


#darkMode{

    border:1px solid #007bff;

}





/* =========================
   HERO
========================= */


.hero{

    min-height:100vh;
    display:flex;
    align-items:center;

    background:
    linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
    ),
    url("images/background.jpg");

    background-size:cover;
    background-position:center;

    color:white;

}



.hero h1{

    font-size:55px;
    font-weight:700;

}


.hero h1 span{

    color:#00bfff;

}


.hero h2{

    font-size:35px;

}


.hero p{

    font-size:18px;

}


.btn{

    padding:12px 25px;
    border-radius:30px;

}





/* =========================
   IMAGE PROFIL
========================= */


.profile-img{

    width:300px;
    height:300px;

    border-radius:50%;

    object-fit:cover;

    border:8px solid white;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.3);

}





/* =========================
   A PROPOS
========================= */


.info-box{

    padding:30px;

    border-radius:20px;

    background:#f8f9fa;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.1);

}





/* =========================
   SERVICES
========================= */


.service-card{

    background:white;

    padding:35px;

    text-align:center;

    border-radius:20px;

    height:100%;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.1);

    transition:0.4s;

}



.service-card:hover{

    transform:translateY(-15px);

}



.service-card i{

    font-size:45px;

    color:#007bff;

}





/* =========================
   MODE SOMBRE
========================= */


.dark{

    background:#121212;

    color:white;

}



.dark .navbar{

    background:#1e1e1e;

}



.dark .nav-link{

    color:white;

}



.dark .service-card,
.dark .info-box{

    background:#1e1e1e;

    color:white;

}



.dark .bg-light{

    background:#181818!important;

}





/* =========================
   MOBILE
========================= */


@media(max-width:768px){


.hero h1{

    font-size:38px;

}


.hero h2{

    font-size:28px;

}


.profile-img{

    width:220px;
    height:220px;

}


}